@{
    ViewBag.Title = "Home Page";
}

            @if (ViewBag.User != null)
            {
                var u = (App_tp.Models.User)ViewBag.User;
            <p>Utilisateur créé : @u.FirstName @u.Name (@u.Role)</p>
        }
            
<a href="~/ActivityBis/EditActivity">
    Go to Edit
</a>

<a href="~/Recap/Index">
    Recap
</a>